:host .stock-card {
    background: #999999;
}

:host .stock-card.increase {
    background: #558B2F;
    color: #FFFFFF;
}

:host .stock-card.decrease {
    background: #C62828;
    color: #FFFFFF;
}