<!--
  CREACIÓN DEL CONTENEDOR GENERAL DE LA PÁGINA WEB
-->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <!--
    CREACIÓN DE UN HEADER CON MATERIAL DESING LITE
  -->
  <header class="mdl-layout__header">
    <!--Titulo-->
    <h1 class="mdl-layout-title title-header" >Rocket Tracker</h1>
    <!--Barra de navegación horizontal-->
    <div class="mdl-layout__header-row">
      <nav class="mdl-navigation mdl-layout--large-screen-only nav-header">
        <a href="" class="mdl-layout__link nav-header-link">DashBoard</a>
        <a href="" class="mdl-layout__link nav-header-link">Manage</a>
      </nav>
    </div>
  </header>

</div>